
.head li a{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
header h1{
display: flex;
flex-direction: column;
justify-content: center;
background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
border-radius: 50%;}
.header h1 li{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
    padding: 10%;
    border-radius: 5%; 
}
.header h2{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: sienna;
        background-color: #e2c7c0;
        background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
        padding: 10%;
        border-radius: 5%; 
    }
.header h3 li{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);

}
.table1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
 
}
.table1 li{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
    padding: 10%;
    border-radius: 5%; 
}
.carousel-fade{
 
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    padding: 10%;
    border-radius: 5%;
}
.contenedor{
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
    
}

.caja1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja1 h1{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja2{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja2 h1{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja3{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja3 h1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja4{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja4 h1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja5 p{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.caja5 iframe{
    background-image:radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);

}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);
}
.table2{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-image: radial-gradient(circle, #c99968, #d5a57f, #deb296, #e6c0ac, #eccec2, #e9ccc1, #e5c9c1, #e2c7c0, #d6b3aa, #caa095, #bd8d80, #b07a6b);


}
