
.body li a{
text-decoration: sienna;
}
    head li a{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    }
header h1{
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 50%;
background-color: #e2c7c0;
}
.header h1 li{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
     padding: 10%;
    border-radius: 5%; 
}
.header picture{
    size: 50%;
    position: absolute;
    padding-block-start: 50%;
}
.header h2{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: sienna;
        background-color: #e2c7c0;
         padding: 10%;
        border-radius: 5%; 
    }
.header h3 li{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
}
.table1{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    padding: 10%;
    border-radius: 5%;
    }
.table1 li{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    padding: 10%;
    border-radius: 5%;
}
.division-video{
    align-content: center;
    justify-content: center;
    width: 100%;
}
.carousel-fade{
 
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    padding: 10%;
    border-radius: 5%;
}
.contenedor{
    background-color: #e2c7c0;}

.caja1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
   }
.caja1 h1{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    }
.caja2{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    }
.caja2 h1{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    }
.caja3{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    }
.caja3 h1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    }
.caja4{ 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    }
.caja4 h1{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
    }
.caja5 p{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;
   }
.caja5 iframe{
    background-color: #e2c7c0;}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e2c7c0;
    }
footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e2c7c0;
}
.table2{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: sienna;
    background-color: #e2c7c0;

}
